.btn-warning {
  background-color: $primary;
  border: none;
  color: white;
  border-radius: 5px;
}

.btn-warning:hover {
  background-color: $primary-hover;
  border: none;
  color: white;
}

.btn-warning :focus {
  background-color: $primary !important;
  border: none;
  color: white;
}

.btn-outline-warning {
  border: none;
  color: black;
}

.btn-outline-warning:hover {
  background: none;
  border: none;
  color: $primary-hover;
}
